.channel-container {
    /* allows to display the channel container alongside the wallpaper container */
    display: inline-block;
    float  : left;

    /* display as thin-ish bar at the left of the screen */
    width  : 14vw;
    height : 100vh;

    overflow-y: scroll;
}

.wallpaper-container {
    /* allows to display the channel container alongside the wallpaper container */
    display: inline-block;
    float  : right;

    /* display as grid at the right of the screen */
    width  : calc(100vw - 14vw);
    height : 100vh;
}

.channel {
    /* making each channel a box */
    width         : 12vw;
    height        : 12vw;
    border        : 1px solid #222;

    /* center channel name */
    text-align    : center;
    vertical-align: middle;
    line-height   : 12vw;
}

.channel.selected {
    background-color: orange;
}