.channel-container {
    /* allows to display the channel container alongside the wallpaper container */
    display   : inline-block;
    float     : left;

    /* display as thin-ish bar at the left of the screen */
    width     : 14vw;
    height    : calc(100vh - 24px); /* subtract navigation-height from height */

    /* makes the channel-view scrollable, instead of the main-window */
    overflow-y: scroll;
}

.wallpaper-container {
    /* allows to display the channel container alongside the wallpaper container */
    display   : inline-block;
    float     : right;

    /* display as grid at the right of the screen */
    width     : calc(100vw - 14vw);
    height    : calc(100vh - 24px); /* subtract navigation-height from height */

    /* makes the wallpaper-view scrollable, instead of the main-window */
    overflow-y: scroll;
}

.channel.selected {
    background-color: orange;
}

.channel img {
    margin : 0;
    padding: 0;
}