.channel-container {
    /* allows to display the channel container alongside the wallpaper container */
    display    : inline-block;
    float      : left;

    /* display as thin-ish bar at the left of the screen */
    width      : calc(14vw - (2 * 4px));
    height     : calc(100vh - 24px); /* subtract navigation-height from height */

    /* makes the channel-view scrollable, instead of the main-window */
    overflow-y : scroll;

    /* make the navigation look a little nicer */
    padding    : 4px;
    font-family: Arial;
    color      : #444;
}

.wallpaper-container {
    /* allows to display the channel container alongside the wallpaper container */
    display   : inline-block;
    float     : right;

    /* display as grid at the right of the screen */
    width     : calc(100vw - 14vw); /* subtract navigation width from screen width */
    height    : calc(100vh - 24px); /* subtract navigation-height from height */

    /* makes the wallpaper-view scrollable, instead of the main-window */
    overflow-y: scroll;
}

.channel.selected {
    color          : orangered;
    text-decoration: underline;
}
